body {
    margin: 0;
    font-family: cursive;
    background-color:#D3D3D3;
    color: black
  }
  .navigation {
    text-align: center;
    margin: 0;
    font-size: 20px;
  }
  
  .navigation ul {
    margin: 0px 0px 3px 0px;
    padding: 5px;
    list-style-type: none;
  }
  
  .navigation ul li {
    display: inline-block;
  }
  
  .navigation ul li a {
    color:black    
  }
  
  .navigation ul li a.active {
    text-decoration: none;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color:black;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
  
  /*  styles for hero unit  */
  .container {
    background-color:yellow;
    padding: 20px;
    max-height: 100px;
  }  
  
  .headline .headline-content {
    display: inline-block;
    width: 50%;
    padding-right: 10px; 
  }
  
  
  .headline .headline-content h1 {  
    font-size: 40px;
    color: black;
  }
  
  .headline .headline-content p {
    color:black;
    font-size:16px;
  } 
  
  .headline .headline-image img {
     width: 100%;
  }
  
  
  h1, p{
      text-align: center;
      color: black;
  }
  
  
  img {
    text-align: center;
    width: 1490px;
    height:700px;;
  }
  .photos{
    width: 450 px;
    height: 450px;
  }
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}