body {
    margin: 0;
    font-family: cursive;
    background-color:#D3D3D3;
    color: hotpink;
    text-align: center;
  }
  .navigation {
    text-align: center;
    margin: 0;
    font-size: 20px;
  }
  
  .navigation ul {
    margin: 0px 0px 3px 0px;
    padding: 5px;
    list-style-type: none;
  }
  
  .navigation ul li {
    display: inline-block;
  }
  
  .navigation ul li a {
    color:black   
  }
  
  .navigation ul li a.active {
    text-decoration: none;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color:black;
    font-style: oblique;
    font-family: cursive;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
  
  /*  styles for hero unit  */
  .container {
    background-color:yellow;
    padding: 20px;
    max-height: 100px;
  }  
  
  .headline .headline-content {
    display: inline-block;
    width: 50%;
    padding-right: 10px; 
  }
  
  
  .headline .headline-content h1 {  
    font-size: 40px;
    color: black;
  }
  
  .headline .headline-content p {
    color:black;
    font-size:16px;
  } 
  
  .headline .headline-image img {
     width: 100%;
  }
  
  
  h1, p{
      text-align: center;
      color: black;
  }
  
  
  img {
    width: 1490px;
    height:700px;
    opacity: 0.2;
  }
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}
table {   
    border: 5px;
    text-align: center;
  }
  td {
    text-align: center;
    border: 1px solid;
    font-size: 24px;
  }